.holder{
	position: absolute;
	top:0px;
	bottom: 0px;
	width:100%;
	background-image: url('http://images7.alphacoders.com/345/345366.jpg');
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.onoffswitch {
    position: relative; width: 61px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 23px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #B3B3B3;
}


.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #B3B3B3;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
.notif:hover{
    background-color: rgba(244, 244, 244, 1);
    cursor: pointer;
}
/*.arrow {
    margin-left: 15px;
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #CAD5E0;
    padding: 4px;
    position: relative;
    min-height: 200px;
}*/

.arrow:after {
content: '';
display: block;
position: absolute;
left: 218px;
top:-19px;
width: 0;
height: 0;
border-color: transparent transparent #fff transparent ;
border-style: solid;
border-width: 10px;
}
.arrow:before {
content: '';
display: block;
position: absolute;
top:-21px;
left: 217px;
width: 0;
height: 0;
border-color:  transparent transparent black transparent ;
border-style: solid;
border-width: 11px;
}
